.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  background-color: #e8e9e8;
  font-family: 'Roboto', sans-serif;
}

.content {
  display: flex;
  align-items: flex-start;
}

.App::-webkit-scrollbar {
  display: none;
}
